# Ignore node_modules to prevent copying the local version
node_modules/
package-lock.json

# Ignore Dockerfile, .dockerignore, and other local setup files
Dockerfile
.dockerignore

# Ignore any build artifacts or logs
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignore .env files (you might want to use environment variables in Docker Compose or pass them securely)
.env
private.key
certificate.crt

# Ignore any IDE or editor specific files
.vscode/
.idea/

# Ignore logs or temporary files
*.log
